/* #region screen sizes */

/* 
    Device = Even smaller devices
    Screen = B/w 319px to 479px
*/
@small-devices: ~"screen and (max-width: 319px)";

/* 
    Device = Most of the Smartphones Mobiles (Portrait)
    Screen = B/w 320px to 480px
*/
@mobile-port: ~"screen and (min-width: 320px) and (max-width: 480px)";

/* 
    Device = Low Resolution Tablets, Mobiles (Landscape)
    Screen = B/w 481px to 767px
*/
@mobile-land: ~"screen and (min-width: 481px) and (max-width: 767px)";

/* 
    Device = Tablets, Ipads (portrait)
    Screen = B/w 768px to 1024px
*/
@tablet-port: ~"screen and (min-width: 768px) and (max-width: 1024px)";

/* 
    Device = Tablets, Ipads (landscape)
    Screen = B/w 768px to 1024px
*/
@tablet-land: ~"screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape)";

/* 
	Device = Laptops, Desktops
	Screen = B/w 1025px to 1280px
*/
@laptop: ~"screen and (min-width: 1025px) and (max-width: 1280px)";

/* 
    Device = Desktops
    Screen = 1281px to higher resolution desktops
*/
@desktop: ~"screen and (min-width: 1281px)";

/* #endregion */

@import "columns";
@import "container";
@import "piano";