/* #region Fonts */
@import url("https://fonts.googleapis.com/css?family=Roboto");

@import url("https://fonts.googleapis.com/css?family=Roboto:300");

@import url("https://fonts.googleapis.com/css?family=Roboto:100");
/* #endregion */

/* #region Colors */
:root {
	--color-light-weak: rgba(255, 255, 255, .65);
	--color-light-light: rgb(255, 255, 255);
	--color-light: rgb(245, 245, 245);
	--color-light-dark: rgb(230, 230, 230);
	--color-light-strong: rgb(210, 210, 210);
	
	--color-dark-weak: rgb(47, 61, 71, .65);
	--color-dark-light: #2f3d47;
	--color-dark: #1f2931;
	--color-dark-dark: #1b1a1a;
	--color-dark-strong: #030303;
	
	--color-gray-weak: rgba(128, 128, 128, 0.65);
	--color-gray-light: #8d8d8d;
	--color-gray: gray;
	--color-gray-dark: #646464;
	--color-gray-strong: #4b4b4b;

	--color-blue-weak: rgba(72, 153, 224, 0.65);
	--color-blue-light: #57a5e9;
	--color-blue: #428bca;
	--color-blue-dark: #2e6a9e;
	--color-blue-strong: #163f62;
		
	--color-aqua-weak: rgba(70, 212, 255, .65);
	--color-aqua-light: rgb(70, 212, 255);
	--color-aqua: #5bc0de;
	--color-aqua-dark: #40a8c7;
	--color-aqua-strong: #2b6f83;

	--color-green-weak: rgba(128, 223, 128, .65);
	--color-green-light: rgb(128, 223, 128);
	--color-green: #5cb85c;
	--color-green-dark: #3fa03f;
	--color-green-strong: #2a792a;
	
	--color-yellow-weak: rgba(255, 214, 102, 0.65);
	--color-yellow-light: rgb(255, 214, 102);
	--color-yellow: rgb(248, 184, 6);
	--color-yellow-dark: rgb(231, 176, 23);
	--color-yellow-strong: rgb(199, 148, 9);

	--color-orange-weak: rgba(255, 109, 42, 0.65);
	--color-orange-light: rgb(255, 109, 42);
	--color-orange: #ff5100;
	--color-orange-dark: #e73306;
	--color-orange-strong: #be2300;
	
	--color-red-weak: rgba(255, 77, 77, 0.65);
	--color-red-light: rgb(255, 77, 77);
	--color-red: #e73232;
	--color-red-dark: rgb(206, 25, 15);
	--color-red-strong: rgb(168, 9, 1);
	
	--color-pink-weak: rgba(255, 138, 218, 0.65);
	--color-pink-light: rgb(255, 138, 218);
	--color-pink: #f25bc3;
	--color-pink-dark: #c958ae;
	--color-pink-strong: #962d7b;

	--color-violet-weak: rgba(167, 88, 236, 0.65);
	--color-violet-light: rgb(167, 88, 236);
	--color-violet: #773aac;
	--color-violet-dark: #591b8f;
	--color-violet-strong: #371255;
	
	--color-brown-weak: rgba(172, 112, 76, 0.65);
	--color-brown-light: rgb(172, 112, 76);
	--color-brown: #904d24;
	--color-brown-dark: #744121;
	--color-brown-strong: #341c0c;
}
/* #endregion */

* {
	padding: 0px;
	margin: 0px;

	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	line-height: 1.7rem;
}

.container {
	padding: 50px;
}