/*

	@name:			EOmponents
	@author:		Eoussama
	@verison:		1.0.0
	@description:	A light responsive CSS library.
	@repository:	https://github.com/Eoussama/Eomponents

*/

/* #region 	Fonts */
@import url("https://fonts.googleapis.com/css?family=Roboto");

@import url("https://fonts.googleapis.com/css?family=Roboto:300");

@import url("https://fonts.googleapis.com/css?family=Roboto:100");
/* #endregion */

/* #region Globals */
:root {
	--color-light-weak: rgba(255, 255, 255, .65);
	--color-light-light: rgb(255, 255, 255);
	--color-light: rgb(245, 245, 245);
	--color-light-dark: rgb(230, 230, 230);
	--color-light-strong: rgb(210, 210, 210);
	
	--color-dark-weak: rgb(47, 61, 71, .65);
	--color-dark-light: #2f3d47;
	--color-dark: #1f2931;
	--color-dark-dark: #1b1a1a;
	--color-dark-strong: #030303;
	
	--color-gray-weak: rgba(128, 128, 128, 0.65);
	--color-gray-light: #8d8d8d;
	--color-gray: gray;
	--color-gray-dark: #646464;
	--color-gray-strong: #4b4b4b;

	--color-blue-weak: rgba(72, 153, 224, 0.65);
	--color-blue-light: #57a5e9;
	--color-blue: #428bca;
	--color-blue-dark: #2e6a9e;
	--color-blue-strong: #163f62;
		
	--color-aqua-weak: rgba(70, 212, 255, .65);
	--color-aqua-light: rgb(70, 212, 255);
	--color-aqua: #5bc0de;
	--color-aqua-dark: #40a8c7;
	--color-aqua-strong: #2b6f83;

	--color-green-weak: rgba(128, 223, 128, .65);
	--color-green-light: rgb(128, 223, 128);
	--color-green: #5cb85c;
	--color-green-dark: #3fa03f;
	--color-green-strong: #2a792a;
	
	--color-yellow-weak: rgba(255, 214, 102, 0.65);
	--color-yellow-light: rgb(255, 214, 102);
	--color-yellow: rgb(248, 184, 6);
	--color-yellow-dark: rgb(231, 176, 23);
	--color-yellow-strong: rgb(199, 148, 9);

	--color-orange-weak: rgba(255, 109, 42, 0.65);
	--color-orange-light: rgb(255, 109, 42);
	--color-orange: #ff5100;
	--color-orange-dark: #e73306;
	--color-orange-strong: #be2300;
	
	--color-red-weak: rgba(255, 77, 77, 0.65);
	--color-red-light: rgb(255, 77, 77);
	--color-red: #e73232;
	--color-red-dark: rgb(206, 25, 15);
	--color-red-strong: rgb(168, 9, 1);
	
	--color-pink-weak: rgba(255, 138, 218, 0.65);
	--color-pink-light: rgb(255, 138, 218);
	--color-pink: #f25bc3;
	--color-pink-dark: #c958ae;
	--color-pink-strong: #962d7b;

	--color-violet-weak: rgba(167, 88, 236, 0.65);
	--color-violet-light: rgb(167, 88, 236);
	--color-violet: #773aac;
	--color-violet-dark: #591b8f;
	--color-violet-strong: #371255;
	
	--color-brown-weak: rgba(172, 112, 76, 0.65);
	--color-brown-light: rgb(172, 112, 76);
	--color-brown: #904d24;
	--color-brown-dark: #744121;
	--color-brown-strong: #341c0c;
}

* {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	line-height: 1.7rem;
	margin: 0;
	padding: 0;
}
/* #endregion */

/* #region Layout*/
.cols.cols-rows {
	flex-direction: column;
}

/* Columns alignment*/
.cols.cols-right {
	justify-content: flex-end;
}

.cols.cols-center {
	justify-content: center;
}

.cols.cols-left {
	justify-content: flex-start;
}

.cols.cols-rows.cols-right {
	align-items: flex-end;
}

.cols.cols-rows.cols-center {
	align-items: center;
}

.cols.cols-rows.cols-left {
	align-items: flex-start;
}

.cols.cols-top {
	align-items: flex-start;
}

.cols.cols-middle {
	align-items: center;
}

.cols.cols-bottom {
	align-items: flex-end;
}

/* Column alignment*/
.col.col-left {
	align-self: flex-start;
}

.col.col-center {
	align-self: center;
}

.col.col-right {
	align-self: flex-end;
}

.col.col-top {
	align-self: flex-start;
}

.col.col-middle {
	align-self: center;
}

.col.col-bottom {
	align-self: flex-end;
}

/* Column sizes*/
.cols.cols-unify > .col {
	flex: 1;
}

.cols.cols-rows.cols-unify > .col {
	align-self: auto;
	flex: 1;
	justify-self: auto;
	width: 100%;
}

.col.col-1 {
	flex: 1 !important;
}

.col.col-2 {
	flex: 2 !important;
}

.col.col-3 {
	flex: 3 !important;
}

.col.col-4 {
	flex: 4 !important;
}

.col.col-5 {
	flex: 5 !important;
}

.col.col-6 {
	flex: 6 !important;
}

/* Gaps */
.cols.cols-rows.cols-gap-1 > .col:not(:first-of-type) {
	margin-top: 1rem;
	margin-left: 0;
}

.cols.cols-rows.cols-gap-2 > .col:not(:first-of-type) {
	margin-top: 2rem;
	margin-left: 0;
}

.cols.cols-rows.cols-gap-3 > .col:not(:first-of-type) {
	margin-top: 3rem;
	margin-left: 0;
}

.cols.cols-rows.cols-gap-4 > .col:not(:first-of-type) {
	margin-top: 4rem;
	margin-left: 0;
}

.cols.cols-rows.cols-gap-5 > .col:not(:first-of-type) {
	margin-top: 5rem;
	margin-left: 0;
}

.cols.cols-rows.cols-gap-6 > .col:not(:first-of-type) {
	margin-top: 6rem;
	margin-left: 0;
}

/* 
	Device = Desktops
	Screen = 1281px to higher resolution desktops
*/
@media screen and (min-width: 1281px) {
	.container {
		padding: 25px 150px;
	}

	.cols {
		box-sizing: border-box;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		width: 100%;
	}

	/* Gaps */
	.cols.cols-gap-1 > .col:not(:first-of-type) {
		margin-left: 1rem;
	}

	.cols.cols-gap-2 > .col:not(:first-of-type) {
		margin-left: 2rem;
	}

	.cols.cols-gap-3 > .col:not(:first-of-type) {
		margin-left: 3rem;
	}

	.cols.cols-gap-4 > .col:not(:first-of-type) {
		margin-left: 4rem;
	}

	.cols.cols-gap-5 > .col:not(:first-of-type) {
		margin-left: 5rem;
	}

	.cols.cols-gap-6 > .col:not(:first-of-type) {
		margin-left: 6rem;
	}
}

/* 
	Device = Laptops, Desktops
	Screen = B/w 1025px to 1280px
*/
@media screen and (min-width: 1025px) and (max-width: 1280px) {
	.container {
		padding: 25px 120px;
	}

	.cols {
		box-sizing: border-box;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		width: 100%;
	}

	/* Gaps */
	.cols.cols-gap-1 > .col:not(:first-of-type) {
		margin-left: 1rem;
	}

	.cols.cols-gap-2 > .col:not(:first-of-type) {
		margin-left: 2rem;
	}

	.cols.cols-gap-3 > .col:not(:first-of-type) {
		margin-left: 3rem;
	}

	.cols.cols-gap-4 > .col:not(:first-of-type) {
		margin-left: 4rem;
	}

	.cols.cols-gap-5 > .col:not(:first-of-type) {
		margin-left: 5rem;
	}

	.cols.cols-gap-6 > .col:not(:first-of-type) {
		margin-left: 6rem;
	}
}

/* 
	Device = Tablets, Ipads (portrait)
	Screen = B/w 768px to 1024px
*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
	.container {
		padding: 25px 100px;
	}

	.cols {
		box-sizing: border-box;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		width: 100%;
	}

	/* Gaps */
	.cols.cols-gap-1 > .col:not(:first-of-type) {
		margin-left: 1rem;
	}

	.cols.cols-gap-2 > .col:not(:first-of-type) {
		margin-left: 2rem;
	}

	.cols.cols-gap-3 > .col:not(:first-of-type) {
		margin-left: 3rem;
	}

	.cols.cols-gap-4 > .col:not(:first-of-type) {
		margin-left: 4rem;
	}

	.cols.cols-gap-5 > .col:not(:first-of-type) {
		margin-left: 5rem;
	}

	.cols.cols-gap-6 > .col:not(:first-of-type) {
		margin-left: 6rem;
	}
}

/* 
	Device = Tablets, Ipads (landscape)
	Screen = B/w 768px to 1024px
*/
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	.container {
		padding: 25px 115px;
	}

	.cols {
		box-sizing: border-box;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		width: 100%;
	}

	/* Gaps */
	.cols.cols-gap-1 > .col:not(:first-of-type) {
		margin-left: 1rem;
	}

	.cols.cols-gap-2 > .col:not(:first-of-type) {
		margin-left: 2rem;
	}

	.cols.cols-gap-3 > .col:not(:first-of-type) {
		margin-left: 3rem;
	}

	.cols.cols-gap-4 > .col:not(:first-of-type) {
		margin-left: 4rem;
	}

	.cols.cols-gap-5 > .col:not(:first-of-type) {
		margin-left: 5rem;
	}

	.cols.cols-gap-6 > .col:not(:first-of-type) {
		margin-left: 6rem;
	}
}

/* 
	Device = Low Resolution Tablets, Mobiles (Landscape)
	Screen = B/w 481px to 767px
*/
@media screen and (min-width: 481px) and (max-width: 767px) {
	.container {
		padding: 25px 50px;
	}

	.cols {
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		width: 100%;
	}

	.cols > .col {
		align-self: auto;
		flex: 1;
		justify-self: auto;
		width: 100%;
	}

	/* Gaps */
	.cols.cols-gap-1 > .col:not(:first-of-type) {
		margin-top: 1rem;
	}

	.cols.cols-gap-2 > .col:not(:first-of-type) {
		margin-top: 2rem;
	}

	.cols.cols-gap-3 > .col:not(:first-of-type) {
		margin-top: 3rem;
	}

	.cols.cols-gap-4 > .col:not(:first-of-type) {
		margin-top: 4rem;
	}

	.cols.cols-gap-5 > .col:not(:first-of-type) {
		margin-top: 5rem;
	}

	.cols.cols-gap-6 > .col:not(:first-of-type) {
		margin-top: 6rem;
	}
}

/* 
	Device = Most of the Smartphones Mobiles (Portrait)
	Screen = B/w 320px to 479px
*/
@media screen and (min-width: 320px) and (max-width: 480px) {
	.container {
		padding: 20px 30px;
	}

	.cols {
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		width: 100%;
	}

	.cols > .col {
		align-self: auto;
		flex: 1;
		justify-self: auto;
		width: 100%;
	}

	/* Gaps */
	.cols.cols-gap-1 > .col:not(:first-of-type) {
		margin-top: 1rem;
	}

	.cols.cols-gap-2 > .col:not(:first-of-type) {
		margin-top: 2rem;
	}

	.cols.cols-gap-3 > .col:not(:first-of-type) {
		margin-top: 3rem;
	}

	.cols.cols-gap-4 > .col:not(:first-of-type) {
		margin-top: 4rem;
	}

	.cols.cols-gap-5 > .col:not(:first-of-type) {
		margin-top: 5rem;
	}

	.cols.cols-gap-6 > .col:not(:first-of-type) {
		margin-top: 6rem;
	}
}

/* 
	Device = Even smaller devices
	Screen = B/w 320px to 479px
*/
@media screen and (max-width: 319px) {
	.container {
		padding: 15px 20px;
	}

	.cols {
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		width: 100%;
	}

	.cols > .col {
		align-self: auto;
		flex: 1;
		justify-self: auto;
		width: 100%;
	}

	/* Gaps */
	.cols.cols-gap-1 > .col:not(:first-of-type) {
		margin-top: 1rem;
	}

	.cols.cols-gap-2 > .col:not(:first-of-type) {
		margin-top: 2rem;
	}

	.cols.cols-gap-3 > .col:not(:first-of-type) {
		margin-top: 3rem;
	}

	.cols.cols-gap-4 > .col:not(:first-of-type) {
		margin-top: 4rem;
	}

	.cols.cols-gap-5 > .col:not(:first-of-type) {
		margin-top: 5rem;
	}

	.cols.cols-gap-6 > .col:not(:first-of-type) {
		margin-top: 6rem;
	}
}
/* #endregion */

/* #region Text */

/* #endregion */