main {
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
}

main > div {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 100px;
    box-sizing: border-box;
    background-image: url(https://previews.123rf.com/images/pzaxe/pzaxe1309/pzaxe130900085/22386825-vector-seamless-geometric-simple-pattern-gray-abstract-background-for-design.jpg);
}

div.box {
    width: 120px;
    height: 120px;
    border: 1px solid rgba(100, 100, 100);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
    border-radius: 3px;
}